<app-header></app-header>
<section class="section-bg">
  <div class="container">
    <!-- <h2 class="text-center">{{panelTitle}}</h2> -->
    <div class="editcreate-wrapper">
      <form [formGroup]="eventForm" (ngSubmit)="save()">
        <h2 class="text-center">{{panelTitle}}</h2>
        <div class="form-group">
          <label for="name">Event Name</label>
          <input class="form-control"
                 id="name"
                 name="name"
                 formControlName="name"
                 type="text"
                 required
                 minlength=3
                 maxlength="12">
          <span class="error-message" *ngIf="eventForm.get('name').errors?.required && eventForm.get('name').touched">Required field</span>
          <span class="error-message" *ngIf="eventForm.get('name').errors?.minlength && eventForm.get('name').touched">Event name must be at least 3 characters long.</span>
          <span class="error-message" *ngIf="eventForm.get('name').errors?.maxlength && eventForm.get('name').touched">Event name can be maximum 12 characters long.</span>
        </div>

        <div class="form-group">
          <label for="eventType">Event Type</label>
          <select class="form-control"
                  id="eventType"
                  name="eventType"
                  formControlName="type"
          >
            <!--            <option [ngValue]="null">Select Department</option>-->
            <option
              *ngFor="let eventType of eventTypes"
              [value]="eventType.value">
              {{eventType.type}}
            </option>
          </select>
          <span class="error-message" *ngIf="eventForm.get('type').invalid && eventForm.get('type').touched && eventForm.get('type').errors.required">Required field</span>
        </div>

        <div class="form-group">
          <label for="date">Event Date</label>
          <input class="form-control" id="date" type="datetime-local" formControlName="date" required>
          <span class="error-message" *ngIf="eventForm.get('date').invalid && eventForm.get('date').touched && eventForm.get('date').errors.required">Required field</span>
        </div>

        <div class="form-group">
          <label for="description">Event Description</label>
          <input class="form-control"
                 id="description"
                 type="text"
                 formControlName="description"
                 required
                 minlength=30
                 maxlength="100">
          <div
            *ngIf="eventForm.get('description').touched && eventForm.get('description').invalid"
          >
            <p
              class="error-message"
              *ngIf="eventForm.get('description').errors.required"
            >Description field is required</p>
            <p
              class="error-message"
              *ngIf="eventForm.get('description').errors.minlength"
            >Description field must have
              minimum 20 characters</p>
            <p
              class="error-message"
              *ngIf="eventForm.get('description').errors.maxlength"
            >Description field must have
              maximum 100 characters</p>
          </div>
        </div>

        <div class="form-group">
          <label for="image">Image upload</label>
          <input class="form-control"
                 id="image"
                 name='image'
                 type="text">
        </div>
        <button class='btn-dark btn fl-right mt-10' type='submit' [disabled]="eventForm.invalid">Save
        </button>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
<!-- {{eventForm.value |json}}
    {{events | json}} -->
