.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.pagination li {
    padding: 5px 12px;
    line-height: 1;
}
.pagination li.active {
background: #25ffbf;
}
.pagination li.active button {
    color: #fff;
}
.pagination li:hover {
  opacity: 0.8;
}
.pagination li button {
  border: 0;
  background: transparent;
}
